/* 版面設定 */

body{
    background-color: #c9d6f3;
    }
    
    /* 頁面標題設定 */
    
        
    
    /* 連結顏色設定 */
    
    
        
    /* area1 header */
    
    a {font-size: 50px}
    
    /* area2 作者前言 */
    
    /* area3 內文 */
    
    h2{
    font-size: 50px
    }
    body{
    background-color: #f0000;
    }
    
    
    
    /* RWD 手機版 */