@charset "utf-8";



/* 版面設定 */


background-color: 
body{
	background-color: #000;
}

	/* 頁面標題設定 */
	
		
		/* 連結顏色設定 */
	
	a {
		color:#496fd8
		}
	
	a:hover{
		color: #df4839
	 text-decoration: none;
		}
		
		/* area1 header */
		
		h1 {
		color: #000000;
		}
		
		header {
			font-size:20px; position: fixed;
			top:0; left:0; right: 0;
			inset: 80;
			display: flex;
			justify-content: space-between;
			align-items: left;
			padding: 25px;
			background-color: #333a6c;
			opacity: 0.9;
		}
	
		header img{
			width:100px; height:100px; 
			padding-bottom:-10px; 
			filter: saturate (8);
		}


/* area2 */
  

/* area3 chapter */

h2{
font-size: 30px
}
body{
background-color: #8ea2e2;
}



/* RWD 手機版 */
