/* 版面設定 */

body{
background-color: #e8dbc8;
}

/* 頁面標題設定 */

	

/* 連結顏色設定 */


	
/* area1 header */

a {font-size: 100px}

/* area2 作者前言 */

/* area3 內文 */

h2{
font-size: 100px
}
body{
background-color: #f0000;
}



/* RWD 手機版 */